.Body {
    display: flex;
    flex-direction: column;
    padding: 80px;
    background-color:#FFCD78;
    color: white;

    ._name {
        font-size: 64px;
        padding: 16px;
    }

    ._tagline {
        font-size:  32px;
        padding: 16px;
    }
}